:root {
  --main-color: #d38d23;
  --text-color-black: #000000;
  --text-color-white: #ffffff;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: Roboto Slabo, sans-serif;
  color: var(--main-color);

  line-height: 1.19;
  letter-spacing: 0.03em;
}

.container {
  width: 320px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.container-fon {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 5px;
}
@media (min-width: 768px) {
  .container-fon {
    padding: 60px 15px;
    width: 768px;
  }
}

@media (min-width: 1280px) {
  .container-fon {
    width: 1280px;
  }
}

.list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* =========================================header=================================================== */

.container-header {
  max-width: 100%;
  background-color: var(--main-color);
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 6px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .container-header {
    font-size: 13px;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
  }
}

@media (min-width: 1280px) {
  .container-header {
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    max-width: 1366px;
  }
}

.leader {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .leader {
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .leader {
    width: 1280px;
    max-width: 1366px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  color: #000000;
  margin-right: 5px;

  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 12px;
}

@media (min-width: 768px) {
  .nav-list {
    gap: 30px;
    margin-right: 15px;
    justify-content: center;
  }
}

@media (min-width: 1280px) {
  .nav-list {
    gap: 60px;
    margin-right: 60px;
  }
}

.nav-item {
  padding: 3px;
  display: inline-block;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .nav-item {
    padding: 8px;
  }
}
.nav-item:hover {
  box-shadow: 0 0 10px 4px #eeee22;
  color: var(--text-color-white);
}
.nav-item:focus {
  box-shadow: 0 0 10px 4px #eeee22;
  color: var(--text-color-white);
}

.nav-link {
  color: var(--text-color-black);
}

.nav-link:hover {
  color: var(--text-color-white);
}
.nav-link:focus {
  color: var(--text-color-white);
}

/* =========================================Hero=====================================================*/

.overlay {
  height: 200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
    url(./Images/overlay11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .overlay {
    height: 520px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1280px) {
  .overlay {
    max-width: 1366px;
  }
}

/* .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.hero-title {
  display: block;
  text-align: center;
  margin: 0 auto;

  color: var(--main-color);
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 0.87;
  letter-spacing: 1px;
  word-spacing: 0px;
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 70px;
  }
}

@media (min-width: 1280px) {
}

.hero-item {
  color: var(--text-color-white);
  font-size: 8px;
  font-weight: 500;
  line-height: 1.5em;
  text-align: center;
}

@media (min-width: 768px) {
  .hero-item {
    font-size: 23px;
  }
}

/* =========================================our-us=================================================== */

.our-us {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .our-us {
    flex-direction: row;
    font-size: 23px;
    gap: 25px;
    justify-content: center;
  }
}

.our-item {
  display: inline-block;
  max-width: 320px;
}

@media (min-width: 768px) {
  .our-item {
    max-width: 320px;
  }
}

.our-title {
  text-align: center;

  color: var(--main-color);
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
}

@media (min-width: 768px) {
  .our-title {
    font-size: 45px;
    line-height: 1;
    word-spacing: 100px;
  }
}

.our-text {
  text-align: center;
  color: var(--text-color-black);
  /* font-family: 'Roboto', Sans-serif; */
  font-size: 8px;
  font-weight: 500;
  line-height: 1.3em;
}

@media (min-width: 768px) {
  .our-text {
    text-align: left;
    font-size: 23px;
  }
}

.our-price {
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  padding: 5px;

  display: block;
  background-color: var(--text-color-black);
  text-align: center;
  color: var(--text-color-white);
}
@media (min-width: 768px) {
  .our-price {
    font-size: 46px;
    padding: 15px;
  }
}

.our-price-text {
  margin: auto;
  display: block;
}

/* =========================================our-us-second=================================================== */

/* .our-us-second-overlay {
    height: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
      url(../images/overlay22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  } */

.our-us-second-overlay {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.7) 100%,
      rgba(255, 255, 255, 0) 70%
    ),
    url(./Images/overlay22.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .our-us-second-overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.7) 70%,
        rgba(255, 255, 255, 0) 70%
      ),
      url(./Images/overlay22.jpg);
    height: 800px;
    background-position: 30% 0;
    box-shadow: rgba(0, 0, 0, 0.5);
    max-width: 1366px;
  }
}

.our-us-text {
  color: var(--text-color-black);
  font-size: 23px;
  font-weight: 500;
  line-height: 1.5em;
  text-align: center;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

.custom-list {
  margin: 0;
  padding: 15px;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: column;
}
@media (min-width: 768px) {
  .custom-list {
    padding: 93px 0;
    width: 70%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }
}

.icon-container li {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 16px;
  color: var(--text-color-white);
  text-transform: uppercase;
}

.icon-container li div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container li img {
  margin-bottom: 10px;
  max-width: 80;
}

.svg-color {
  color: var(--text-color-white);
}

.text-our-us {
  font-size: 6px;
}
@media (min-width: 768px) {
  .text-our-us {
    font-size: 100%;
  }
}

.our-us-second-overlay-svg {
  width: 15px;
  height: 15px;
}

@media (min-width: 768px) {
  .our-us-second-overlay-svg {
    width: 90px;
    height: 90px;
  }
}

.swiper {
  width: 40%;
  height: 50%;
  object-fit: cover;
}

/* =====================================price=============================================================== */

.price {
  padding: 60px 15px;
}

.price-text {
  color: var(--text-color-black);
  font-size: 23px;
  font-weight: 500;
  line-height: 1.5em;
  text-align: center;
}

/* =================================================footer==================================================== */

.footer {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px 15px;
  background-color: var(--main-color);

  border-top-style: solid;
  border-color: var(--text-color-black);

  color: var(--text-color-black);
  text-align: center;
}
@media (min-width: 1280px) {
  .footer {
    max-width: 1366px;
  }
}


.footer-text {
  display: block;
  margin-bottom: 15px;
  font-size: 25px;
}

@media (min-width: 768px) {
  .footer-text {
    font-size: 35px;
  }
}

.footer-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 10px;
}

.footer-list li img {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .footer-list li img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-list li img {
    width: 80px;
    height: 80px;
  }
}


.container-contacts{
  display: flex;
  flex-direction:column;
}

@media (min-width: 768px) {
  .container-contacts {
    flex-direction:row ;
    justify-content: center;
  }
}


.contacts{
  color: var(--text-color-black);
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}

@media (min-width: 768px) {
  .contacts {
    font-size: 40px;
  }
}

@media (min-width: 1280px) {
  .contacts {
    font-size: 50px;
  }
}


/* =================================================call====================================================== */

.call {
  color: var(--text-color-white);
  font-size: 46px;
  font-weight: 700;
  line-height: 1.44;

  display: block;
  background-color: var(--text-color-black);
  text-align: center;
  display: block;
  max-width: 100%;
}

@media (min-width: 1280px) {
  .call {
    max-width: 1366px;
  }
}

.call-text {
  font-size: 43px;
  display: block;
  padding: 0 5px;
}



.scrollup{
  width:40px;
  height:40px;
  opacity:0.3;
  position:fixed;
  bottom:50px;
  right:100px;
  display:none;
  text-indent:-9999px;
  background: url("./Images/icon_top.png") no-repeat;
  }