/* --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500; */

body {
  font-family: Roboto Slabo, sans-serif;
  color: #d38d23;

  line-height: 1.19;
  letter-spacing: 0.03em;
}

.container {
  width: 320px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.container-fon {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 5px;
}
@media (min-width: 768px) {
  .container-fon {
    padding: 60px 15px;
    width: 768px;
  }
}

@media (min-width: 1280px) {
  .container-fon {
    width: 1280px;
  }
}

.list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* =========================================header=================================================== */

.container-header {
  width: 320px;
  background-color: #dd9933;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 6px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .container-header {
    font-size: 13px;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    width: 768px;
  }
}

@media (min-width: 1280px) {
  .container-header {
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    width: 1280px;
  }
}

.leader {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  color: #000000;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .nav-list {
    gap: 30px;
    margin-right: 15px;
  }
}

@media (min-width: 1280px) {
  .nav-list {
    gap: 60px;
    margin-right: 60px;
  }
}

.nav-item {
  padding: 3px;
  display: inline-block;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .nav-item {
    padding: 8px;
  }
}
.nav-item:hover {
  box-shadow: 0 0 10px 4px #eeee22;
  color: #ffffff;
}
.nav-item:focus {
  box-shadow: 0 0 10px 4px #eeee22;
  color: #ffffff;
}

.nav-link {
  color: #000000;
}

.nav-link:hover {
  color: #ffffff;
}
.nav-link:focus {
  color: #ffffff;
}

/* =========================================Hero=====================================================*/

.overlay {
  height: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
    url(../images/overlay11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .overlay {
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1280px) {
}

/* .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.hero-title {
  display: block;
  text-align: center;
  margin: 0 auto;

  color: #ff8f00;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 0.87;
  letter-spacing: 1px;
  word-spacing: 0px;
  stroke-width: 3px;
  -webkit-text-stroke-color: #ff8f00;
  stroke: #ff8f00;
  text-shadow: 5px 6px 9px #000000;
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 70px;
  }
}

@media (min-width: 1280px) {
}

.hero-item {
  color: #e78b0f;
  font-size: 8px;
  font-weight: 500;
  line-height: 1.5em;
  -webkit-text-stroke-width: 0px;
  stroke-width: 0px;
  -webkit-text-stroke-color: #000;
  stroke: #000;
  text-shadow: 29px 15px 5px rgb(0 0 0 / 30%);
  text-align: center;
}

@media (min-width: 768px) {
  .hero-item {
    font-size: 23px;
  }
}

/* =========================================our-us=================================================== */

.our-us {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .our-us {
    flex-direction:row;
    font-size: 23px;
    gap: 25px;
    justify-content: center;
  }
}

.our-item {
  display: inline-block;
  max-width: 320px;
}

@media (min-width: 768px) {
  .our-item {
    max-width: 320px;
  }
}

.our-title {
  text-align: center;

  color: #d88e13;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
}

@media (min-width: 768px) {
  .our-title {
    font-size: 45px;
    line-height: 1;
    word-spacing: 100px;
    -webkit-text-stroke-width: 2px;
    stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
  }
}

.our-text {
  text-align: center;
  color: #cc8c14;
  font-family: 'Roboto', Sans-serif;
  font-weight: 600;
  font-size: 7px;
}

@media (min-width: 768px) {
  .our-text {
    text-align: left;
    font-size: 15px;
  }
}

.our-price {
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  padding: 5px;

  display: block;
  height: 26px;
  background-color: #000000;
  text-align: center;
  color: #e3650f;
}
@media (min-width: 768px) {
  .our-price {
    font-size: 46px;
    height: 70px;
  }
}

.our-price-text {
  margin: auto;
}

/* =========================================our-us-second=================================================== */

/* .our-us-second-overlay {
    height: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
      url(../images/overlay22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  } */

.our-us-second-overlay {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.7) 100%, rgba(255, 255, 255, 0) 70%),
    url(./Images/overlay22.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .our-us-second-overlay {
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.7) 70%, rgba(255, 255, 255, 0) 70%),
    url(./Images/overlay22.jpg);
    height: 800px;
    background-position: 30% 0;
    box-shadow: rgba(0, 0, 0, 0.5);
  }
}


.our-us-text {
  color: #e78b0f;
  font-size: 23px;
  font-weight: 500;
  line-height: 1.5em;
  -webkit-text-stroke-width: 0px;
  stroke-width: 0px;
  -webkit-text-stroke-color: #000;
  stroke: #000;
  text-shadow: 29px 15px 5px rgb(0 0 0 / 30%);
  text-align: center;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

.custom-list {
  margin: 0;
  padding: 15px;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: column;
}
@media (min-width: 768px) {
  .custom-list {
    padding: 0;
    width: 70%;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.icon-container li {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}

.icon-container li div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container li img {
  margin-bottom: 10px;
  max-width: 80;
}

.svg-color {
  fill: #f4b522;
}

.text-our-us {
  font-size: 6px;
}
@media (min-width: 768px) {
  .text-our-us {
    font-size: 100%;
  }
}



.our-us-second-overlay-svg{
  width:15px;
  height:15px;
}

@media (min-width: 768px) {
  .our-us-second-overlay-svg {
    width:90px;
  height:90px;
  }
}

.swiper {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

/* =====================================price=============================================================== */

.price {
  padding: 60px 15px;
}

.price-text {
  color: #e78b0f;
  font-size: 23px;
  font-weight: 500;
  line-height: 1.5em;
  -webkit-text-stroke-width: 0px;
  stroke-width: 0px;
  -webkit-text-stroke-color: #000;
  stroke: #000;
  text-align: center;
}

/* =================================================footer==================================================== */

.footer {
  max-width: 320px;
  margin: 0 auto;
  padding: 15px 15px;
  background-color: #dd9933;

  border-top-style: solid;
  border-color: #000;

  color: #000000;
  text-align: center;
}
@media (min-width: 768px) {
  .footer {
    max-width: 768px;
  }
}
@media (min-width: 1280px) {
  .footer {
    max-width: 1280px;
  }
}

.footer-text {
  margin-bottom: 15px;
}

.footer-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* =================================================call====================================================== */

.call {
  color: #e4e1dc;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.44;
  -webkit-text-stroke-width: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: #e3650f;
  stroke: #e3650f;
  text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);

  display: block;
  background-color: #000000;
  text-align: center;
  display: block;
}
